* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

canvas {
    image-rendering: pixelated;
    flex-grow: 1;
}

#colorpicker, #bg {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
}

#colorpicker li, #bg li {
    height: 6vh;
}