      /* RESET */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 1rem;
      }

      input[type=file] {
        display: none;
      }

      /* HTML/BODY */
      html {
        font-size: 15px;
        background: black;
        font-family: system-ui;
      }

      html, body {
        width: 100%;
        height: 100%;
        overflow: hidden;;
      }

      /* GRID */
      body {
        display: flex;
        width: 200vw;
        justify-content: space-evenly;
      }

      [canvas_visible] {
        flex-direction: row-reverse;
      }

      /* GRID ITEMS */
      main, aside {
        padding: 1rem;
        flex: 1 1 50%;
        min-width: 0;
      }

      aside {
          display: flex;
          justify-content: center;
      }

      /* UI */
      ui {
        display: grid;
        grid-gap: 10px;
        grid-auto-flow: column;
        grid-template-rows: 65% auto 50px;
        height: 100%;
      }

    ui > *, output > * {
        display: flex;
        grid-gap: 10px;
        justify-content: space-between;
    }

    [card] {
      font-size: 3rem;
    }

    card > *, detail > *, action > * {
        background: hsl(0, 0%, 9.8%);
        border-radius: .2rem;
        flex: 1 1 100%;
    }

    card > *:not(:last-child), detail > *:not(:last-child), action > *:not(:last-child) {
        margin-right: 10px;
    }


      label:has([type=file]:valid) {
        background: green;
      }

      [type=file]:invalid {
        background: green;
      }


      ui > div:not(:last-child) {
        display: grid;
        grid-auto-flow: column;
      }

      [card] > *:not(:last-child),
      [detail] > *:not(:last-child) {
        border-right: 2px solid white;
      }

      /* Generate Button */
      ui > div:last-child {
        flex: 0 0 10vh;
      }

      /* FILE INPUTS */
      label {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }

      /* BUTTON */
      button {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        color: black;
        border: none;
      }

      [copyright] {
        flex-basis: 50%;
      }

      /* OUTPUT */
      output {
        display: grid;
        grid-gap: 10px;
        grid-auto-flow: column;
        grid-template-rows: auto 50px;
        height: 100%;
        width: 100%;
      }

      canvas {
        display: none;
      }

      img {
        max-width: 100%;
        min-width: 100%;
        align-self: center;
        border-radius: .2rem;
      }